<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/CSS/style.css}" />
<title>Insert title here</title>
</head>
<body class="banner">
	<section th:insert="navbar::navbar"></section>
	<!-- <h1>Book squada </h1> -->
	<div>


		<form th:action="@{/process}" method="post">
			<div class="mb-3">
				<label for="name" class="form-label">Name</label> <input type="text"
					class="form-control" id="name" name="name">
			</div>
			<div class="mb-3">
				<label for="address" class="form-label">address</label> <input
					type="text" class="form-control" id="address" name="address">
			</div>
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="checkbox"
					name="checkbox"> <label class="form-check-label"
					for="exampleCheck1">Accept Terms&Conditions</label>
			</div>

			<div class="mb-3">
				<label for="srDate" class="form-label">From</label> <input
					type="date" class="form-control" id="srDate" name="srDate">
			</div>

			<div class="mb-3">
				<label for="dtDate" class="form-label">From</label> <input
					type="date" class="form-control" id="dtDate" name="dtDate">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>
</body>
</html>